body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 400px;

}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-thumb {
    background-color: #e2e2e2;
    border-radius: 30px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(107, 107, 107);
    border-radius: 30px;

}

html::-webkit-scrollbar-track {
    background-color: white;
}

header {
    position: sticky;
    top: 0%;
    z-index: 1;
    overflow-y: hidden;
}

.navbar {
    background-color: whitesmoke;
    border-radius: 2px;
    overflow: hidden;

}

.navbar ul {

    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
    list-style: none;
    margin: -10px 28px;
    padding: 0px;
}

.navbar li a {
    text-align: center;
    text-decoration: none;
    color: gray;
    position: relative;
    top: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    right: 35px;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-style: none;
    position: relative;
    bottom: 37px;
    right: 3px;
    font-weight: 300;
}

.img-1 {
    top: 13px;
    border-radius: 30px;
    position: relative;
}

img:hover {
    opacity: 90%;
    filter: contrast(120px);
}

.u1 {
    color: black;
    text-decoration: underline;
    margin-left: 168px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}


.p1 {
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    width: 350px;
    margin-left: 156px;
    display: inline-block;
    padding: 12px 12px;

}

.img-2 {
    margin-left: 120px;
    border: 2px solid black;
    border-radius: 360px;
    height:124px;
    width:124px;
}

.img-2:hover {
    opacity: 90%;

}

.lable-1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    bottom: 40px;
    left: 12px;
    overflow: auto;
    color: black;
    letter-spacing: 2.4px;
    text-transform: capitalize;
}

#name {
    overflow: auto;
    position: relative;
    top: -12px;
    right: 99px;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    border-left-width: 2px;
    border-bottom-width: 6px;
    border-right-width: 7px;
    border-color: black;
}

#name:hover {
    opacity: 90%;
}

#name:focus {
    outline: thick;
}

#bt-1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 4.5px 13px;
    margin: 12px;
    color: black;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    right: 102px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    background-color: white;
}

#bt-1:hover {
    opacity: 90%;
    box-shadow: 4px 4px 0px 0px rgb(238, 204, 204);
    transition: all 400ms ease-in-out;
}

.bt-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 4.5px 13px;
    margin: 12px;
    margin-left: -112px;
    color: black;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    right: -7px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    background-color: white;
}


#bt-2:hover {
    opacity: 90%;
    box-shadow: 4px 4px 0px 0px rgb(238, 204, 204);
    transition: all 400ms ease-in-out;
}

.heading_2 {
    color: black;
    text-decoration: underline;
    margin-left: 236px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 300;
}

.pare_2 {
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    width: 350px;
    margin-left: 156px;
    display: inline-block;
    padding: 12px 12px;
    display: inline-block;

}

.img-3 {

    width: 90px;
    height: 90px;
    position: relative;
    bottom: 114px;
    left: 670px;
    filter: drop-shadow(2px 3px 3px #fc490b);


}


.img-4 {
    width: 90px;
    height: 90px;
    position: relative;
    bottom: 114px;
    left: 683px;
    filter: drop-shadow(5px 3px 5px #2196f3);
}

.img-5 {
    width: 90px;
    height: 90px;
    position: relative;
    bottom: 114px;
    left: 708px;
    filter: drop-shadow(2px 3px 9px #ffdf00);
}

.img-6 {

    position: relative;
    bottom: 108px;
    left: 727px;
    filter: drop-shadow(2px 3px 6px #7d11f8);

}

.hour {

    text-align: center;
    text-decoration: none;
    color: gray;
    position: relative;
    top: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    right: 111px;
}

.h {
    position: relative;
    right: 59px;
}

.m {
    position: relative;
    right: 162px;
}

.html {
    position: relative;
    bottom: 87px;
    left: 697px;
    filter: drop-shadow(2px 3px 6px #fc490b);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: large;
    display: block;

}

.css {
    position: relative;
    bottom: 87px;
    left: 697px;
    filter: drop-shadow(2px 3px 6px #2196f3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: large;
    display: block;

}

.js {
    position: relative;
    bottom: 87px;
    left: 697px;
    filter: drop-shadow(2px 3px 6px #ffdf00);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: large;
    display: block;

}

.bootstarp {
    position: relative;
    bottom: 87px;
    left: 697px;
    filter: drop-shadow(2px 3px 6px #6f10f5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: large;
    display: block;

}

.play {
    position: relative;
    top: 19px;

}

.heading {
    color: black;
    text-transform: capitalize;
    text-decoration: underline;
    margin-right: 452px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    position: relative;
    bottom: 609px;
}

.name {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    bottom: 2px;
    left: 272px;
    overflow: auto;
    color: black;
    letter-spacing: 2.4px;
    text-transform: capitalize;
}

.nammm {
    overflow: auto;
    position: relative;
    top: 26px;
    right: -208px;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    border-left-width: 2px;
    border-bottom-width: 6px;
    border-right-width: 7px;
    border-color: black;
    width: 300px;
}

.emaill {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    bottom: -70px;
    left: -110px;
    overflow: auto;
    color: black;
    letter-spacing: 2.4px;
    text-transform: capitalize;
}

.email {
    overflow: auto;
    position: relative;
    bottom: -99px;
    left: -172px;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    border-left-width: 2px;
    border-bottom-width: 6px;
    border-right-width: 7px;
    border-color: black;
    width: 300px;
}

.textarea {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    bottom: -159px;
    left: -489px;
    overflow: auto;
    color: black;
    letter-spacing: 2.4px;
    text-transform: capitalize;
}

.descrpition {
    overflow: auto;
    position: relative;
    bottom: -367px;
    left: -621px;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    border-left-width: 2px;
    border-bottom-width: 6px;
    border-right-width: 7px;
    border-color: black;
    width: 300px;
}

.contactme {
    position: relative;
    bottom: 756px;

}

.img-10 {
    position: relative;
    left: 680px;
    top: -15px;
}

.pr-10 {
    position: relative;
    left: 320px;
    top: 90px;
}

.bt-3:hover {
    opacity: 90%;
    box-shadow: 4px 4px 0px 0px rgb(238, 204, 204);
    transition: all 400ms ease-in-out;
}

.bt-3 {
    position: relative;
    left: 64px;
    top: 134px;
}

.todo {
    position: relative;
    bottom: 292px;
    left: 155px;

}

.Todo_heading {
    color: black;
    text-transform: capitalize;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 300;
    position: relative;
    left: 78px;
}

.list {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    overflow: auto;
    color: black;
    letter-spacing: 2.4px;
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
    left: 13px;
}

.inputbar {
    overflow: auto;
    position: relative;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    border-left-width: 2px;
    border-bottom-width: 6px;
    border-right-width: 7px;
    border-color: black;
    /* display: block; */
    width: 232px;
    left: 13px;
}

.add {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 4.5px 13px;
    margin: 12px;
    color: black;
    text-transform: uppercase;
    position: relative;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    background-color: white;
    margin-left: 25px;
}


.add:hover {
    opacity: 90%;
    box-shadow: 4px 4px 0px 0px rgb(238, 204, 204);
    transition: all 400ms ease-in-out;
}

.delete {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 4.5px 13px;
    margin: 12px;
    color: black;
    text-transform: uppercase;
    position: relative;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    background-color: white;
    margin-left: -5px;
}

.delete:hover {
    opacity: 90%;
    box-shadow: 4px 4px 0px 0px rgb(238, 204, 204);
    transition: all 400ms ease-in-out;
}

.player {
    margin-left: 187px;
    margin-top: 17px;
}

.item_list {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 4.5px 13px;
    margin: 12px;
    color: black;
    text-transform: capitalize;
    position: relative;
    border-radius: 4px;
    margin-left: -5px;
    list-style: lower-roman;
}

.genrate {
    height: 330px;
    width: 500px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    bottom: 340px;
    border: 5px solid whitesmoke;
}

.genrate:hover {
    opacity: 90%;
    box-shadow: 6px 6px 0px 0px #fff9ce;
    transition: all 400ms ease-in-out;
}

.items {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    overflow: auto;
    color: black;
    letter-spacing: 2.4px;
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
    left: 13px;
    text-decoration: underline;
}

.p {
    position: relative;
    left: 553px;
    top: -24px;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    width: 350px;
    display: inline-block;
    padding: 12px 12px;
}

.img_1 {
    position: relative;
    left: 562px;
    top: 25px;
}

.just_do_it {
    color: blue;
    text-decoration: underline;
    margin-left: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    display: inline-block;
    position: relative;
    bottom: 36px;
    animation: example 600ms linear 700ms infinite alternate;
}

@keyframes example {
    from {
        color: #2196f3;
    }

    to {
        color: #6f10f5;
    }
}

/* Responciveness */

@media screen and (max-width:800px) {

    .u1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        position: relative;
        left: 100px;
    }

    .p1 {

        width: 50%;
        display: block;

    }

    .img-2 {
        display: block;
        position: relative;
        left: 120px;
        margin-bottom: 5%;
        margin-top: 2%;
    }

    .lable-1 {
        position: relative;
        left: 250px;
        margin-top: 12px;
    }

    #name {
        position: relative;
        left: 80px;
        width: 236px;
    }

    #bt-1 {
        position: relative;
        top: 30px;
        left: -103px;
        margin-inline-start: -28px;
    }

    .bt-2 {
        position: relative;
        top: 30px;
        left: 7px;
    }

    .heading_2 {
        margin-top: 50px;
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .pare_2 {
        width: 50%;
        display: block;
    }

    .skills {
        position: relative;
        display: block;
        right: 553px;
        top: 130px;
        width: 70%;


    }

    .progress {
        position: relative;
        right: 459px;
        display: block;
        top: 120px;
        width: 50%;

    }

    .todo {
        margin-top: 361px;
    }

    .genrate {
        position: relative;
        bottom: 338px;
        width: 60%;
        left: 12px;
    }


    .p {
        position: relative;
        left: -6px;
        top: 195px;
        width: 100%;

    }

    .just_do_it {
        position: relative;
        left: -600px;
        top: 131px;
        width: 79%;
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .contactme {
        display: block;
        position: relative;
        bottom: 444px;
    }

    .heading {
        display: block;
        position: relative;
        left: 250px;
        bottom: 527px;
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .name{
        display: block;
        position: relative;
        left: 189px;
        bottom: 72px;
    }   
     .nammm{
        position: relative;
        left: 190px;
        top: -64px;
    }
    .emaill{
        display: block;
        position: relative;
        left: 187px;
        bottom: 45px;
    }
    .email{
        display: block;
        position: relative;
        left: 187px;
        bottom: 40px;
    }


    .textarea{      
        position: relative;
        left: 187px;
        bottom: 192px;
    }
    .descrpition
    { 
        position: relative;
        left: 53px;
        bottom: -15px;
    }
    .img-10{
        position: relative;
        bottom: 298px;
        top: 25px;
        left: 162px;
    }
    .pr-10{
        position: relative;
        bottom: 298px;
        top: 4px;
        left: 56px;
        width: 50%;
    }

} 